﻿@model StudentModel01.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstMidlName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMidlName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>

        <td>
            @Html.DisplayNameFor(model => model.Enrollments)
        </td>
        <dd>
            <table>
                <tr>
                    <th>
                        Course Title
                    </th>
                    <th>
                        Grade
                    </th>
                </tr>
                @foreach(var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title);
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade);
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
