﻿
@{
    Layout = null;
}
@using BookClientConsumor.Models

<!DOCTYPE html>
<html>
<head>
    <title>Index - Book service</title>
</head>
<body>
    <fieldset>
        <legend>List of Book</legend>
        <table cellpadding="2" cellspacing="2">
            <tr>
                <th>Book ID</th>
                <th>Book Name</th>
                <th>ISBN</th>
                <th>Options</th>
            </tr>
            @foreach (Book b in ViewBag.listBooks)
            {
                <tr>
                    <td>@b.BookId</td>
                    <td>@b.Title</td>
                    <td>@b.ISBN</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Book", new { id = b.BookId }, null)</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Book", new { id = b.BookId }, null)</td>
                </tr>

            }
        </table>
    </fieldset>
    @Html.ActionLink("Add new Book","Create","Book");
</body>
</html>
<h2>Index</h2>

