﻿@model IEnumerable<Client.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Search:@Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">

    <tr>
        <th>
            Name
        </th>
        <th>
            Salary
        </th>
        <th>
            @Html.ActionLink("Departmant", "Index", new { sortOrder = ViewBag.DepartSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departmant)
            </td>
         
        </tr>
    }

</table>
