﻿@model IEnumerable<Admintle.Models.CUSTOMER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_TYPE_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FED_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POSTAL_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BUSINESS.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INDIVIDUAL.FIRST_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_TYPE_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FED_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSTAL_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BUSINESS.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INDIVIDUAL.FIRST_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CUST_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CUST_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CUST_ID })
        </td>
    </tr>
}

</table>
