﻿@model IEnumerable<MyImage.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link_Img)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit_Card)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link_Img)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credit_Card)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCutomer }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCutomer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCutomer })
        </td>
    </tr>
}

</table>
